<mat-toolbar *ngIf="data.mobileType === 'android'" color="promary" class="android-prompt">
    <button mat-button (click)="installPwa()">Add to Home screen</button>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<div *ngIf="data.mobileType === 'ios'" class="ios-prompt">
    <div class="content">
        Install this app on your device.
        <br />Tap the share icon and then <br /><strong>Add to homescreen</strong>.
        <div class="full-width">
            <mat-icon>arrow_downward</mat-icon>
        </div>
    </div>
    <button class="btn-close" mat-icon-button (click)="close()" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>