<div class="container-fluid h-100 p-3 bg-dark text-white text-center">
    <div class="row align-items-center h-100">
        <div class="col-12 mx-auto">
            <div *ngIf="data?.error">
                <h1>ERROR {{ data?.error}}</h1>
                <h5 *ngIf="data?.error === 404">No encontrado :(</h5><br />
                <a mat-raised-button [routerLink]="'/'">
                    Ir a inicio
                </a>
            </div>

            <div *ngIf="routeParams.message">
                <h1 *ngIf="routeParams?.status"> ERROR {{ routeParams?.status }}</h1><br />
                <!-- <h3 *ngIf="routeParams?.message">{{ routeParams?.message }}</h3><br /> -->
                <h1 *ngIf="routeParams?.message">Ha ocurrido un error</h1><br />
                <!-- <h1 *ngIf="routeParams?.url && routeParams?.url !== '/'">Error in {{ routeParams?.url | uppercase }}
                                page,
                                sorry {{ routeParams?.user }} :(
                            </h1> -->
                <!-- <h4 *ngIf="routeParams?.id">This error has been reported to the Administrator with the ID:<br>
                                    {{ routeParams?.id}}</h4> -->
                <a mat-raised-button [routerLink]="routeParams?.url"
                    *ngIf="routeParams?.url && routeParams.status !== '404'">
                    Ir a {{routeParams?.url}}
                </a>
                <a mat-raised-button routerLink="/" *ngIf="!routeParams.url || routeParams.status === '404'">
                    Ir a inicio
                </a>
            </div>

            <div *ngIf="!routeParams && !data">
                <h1>Error desconocido :(</h1>
                <a mat-raised-button [routerLink]="'/login'">
                    Ir inicio
                </a>
            </div>
            <!-- <div class="pre-container" *ngIf="routeParams?.message">
                    <p>Error sent to the server</p>
                    <pre>
                                  {{ this.routeParams | json }}
                                </pre>
                    </div> -->
            <div class="MainGraphic">
                <svg class="Cog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <path
                        d="M29.18 19.07c-1.678-2.908-.668-6.634 2.256-8.328L28.29 5.295c-.897.527-1.942.83-3.057.83-3.36 0-6.085-2.743-6.085-6.126h-6.29c.01 1.043-.25 2.102-.81 3.07-1.68 2.907-5.41 3.896-8.34 2.21L.566 10.727c.905.515 1.69 1.268 2.246 2.234 1.677 2.904.673 6.624-2.24 8.32l3.145 5.447c.895-.522 1.935-.82 3.044-.82 3.35 0 6.066 2.725 6.083 6.092h6.29c-.004-1.035.258-2.08.81-3.04 1.676-2.902 5.4-3.893 8.325-2.218l3.145-5.447c-.9-.515-1.678-1.266-2.232-2.226zM16 22.48c-3.578 0-6.48-2.902-6.48-6.48S12.423 9.52 16 9.52c3.578 0 6.48 2.902 6.48 6.48s-2.902 6.48-6.48 6.48z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="row fixed-bottom">
        <div class="col-12">
            <div class="messagereport" *ngIf="routeParams.message">
                <a mat-stroked-button routerLink="/log">Más detalles</a>
                <p *ngIf="routeParams?.id">Este error ha sido reportado al administrador con la ID:
                    {{ routeParams?.identifier}}
                </p>
            </div>
        </div>
    </div>
</div>