/* You can add global styles to this file, and also import other style files */
@import "styles/material/material";
@import "styles/bootstrap/bootstrap";
// @import "styles/fonts.scss";

html,
body {
  background-color: #fafafa;
  height: 100%;
}

p, span, text, button, div, a {
  font-size: 13px !important;
}
